In [1]:
from IPython.core.display import HTML
HTML('''
<script>
var logoParent = document.getElementById("kernel_logo_widget")
var logo = document.getElementById("kernel_logo_widget").getElementsByClassName("current_kernel_logo")[0];
logo.src = "https://i.ibb.co/mD4jTGQ/itclogo.jpg";
logo.style = "display: inline; width:138px; height:40px";
logoParent.innerHTML = '<a href="https://i.ibb.co/mD4jTGQ/itclogo.jpg">' + logoParent.innerHTML + '</a>';
</script>
''')

<font size=10><b>Data Preprocessing - Assignment I</b></font>

# Exercise:

In this exercise, we will look at listings of Airbnb in Amsterdam, trying to predict the `price` of each listing by it's characteristics

<div class="alert alert-info"><b>NOTE:</b> There is no Data dictionary available for this data, but the column names can help you understand or assume the meaning of the features</div>


## Part I:

 1. Download and extract the data attached to this exercise.
 2. Take a subset using only the following columns: `['listing_url', 'name', 'summary', 'space', 'host_name', 'host_since', 'host_response_rate', 'host_identity_verified', 'city', 'state', 'country', 'latitude', 'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet', 'price', 'number_of_reviews', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value']`
 3. Look at the data and define - which are your categorical features (ordinal and nominal) and which are your numerical features (continuous and discrete)? Write a list of each.
 4. Split the data to train and test randomly (no need for a dev set at the moment).
 5. Take the following features: `'city', 'review_scores_rating', 'review_scores_cleanliness', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'number_of_reviews', 'bed_type', 'host_response_rate'`, **and work with them alone for the continuation of the exercise**.
 6. Perform EDA on the **train** dataset - print the summary statistics and contents of each column, plot the distributions of each feature, plot the relationship between all of the features, as well as on the relations of all of the features with the dependent variable. **No need to add new features. Leave only interesting plots.**.
 7. Remove columns that are redundant / are not important / are duplicated / are correlated - explain why you selected the features that way.

Question 1

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

df = pd.read_csv('listings.csv')
df.head(2)

C:\Users\Daniel\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (94) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2818,https://www.airbnb.com/rooms/2818,20190506125736,2019-05-06,Quiet Garden View Room & Super Fast WiFi,Quiet Garden View Room & Super Fast WiFi,I'm renting a bedroom (room overlooking the ga...,Quiet Garden View Room & Super Fast WiFi I'm r...,none,"Indische Buurt (""Indies Neighborhood"") is a ne...",...,t,f,strict_14_with_grace_period,f,f,1,0,1,0,2.07
1,20168,https://www.airbnb.com/rooms/20168,20190506125736,2019-05-06,Studio with private bathroom in the centre 1,"Cozy studio on your own private floor, 100% in...",For those who like all facets of city life. In...,"Cozy studio on your own private floor, 100% in...",none,Located just in between famous central canals....,...,f,f,strict_14_with_grace_period,f,f,2,1,1,0,2.39

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19619 entries, 0 to 19618
Columns: 106 entries, id to reviews_per_month
dtypes: float64(23), int64(21), object(62)
memory usage: 15.9+ MB

Question 2

In [4]:
all_data = ['listing_url', 'name', 'summary', 'space', 'host_name', 'host_since', 'host_response_rate', 'host_identity_verified', 'city', 'state', 'country', 'latitude', 'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet', 'price', 'number_of_reviews', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value']
df = df[all_data]

Question 3

In [5]:
#ITS HARD TO DEFINE IF A DATE IS CATEGORICAL OR NUMERICAL. I TEND TO THINK THAT IS LIKE A NAME OF A CATEGORY
ordinal = ['host_since'] 
nominal = ['listing_url','room_type','name','summary','space','host_name','host_identity_verified','city','state','country','property_type','bed_type','amenities']
continuous = ['host_response_rate','latitude','longitude','square_feet','price','review_scores_rating','review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value']
discrete = ['accommodates','bathrooms','beds','number_of_reviews','bedrooms']
categorical = ordinal + nominal
numerical = continuous + discrete

Question 4

In [6]:
from sklearn.model_selection import train_test_split

features = list(df.loc[:,df.columns!='price'].columns)
target ='price'


train,test = train_test_split(df,test_size = .2, random_state = 77)

In [7]:
assert set(train.index) & set(test.index) == set()

Question 5

In [8]:
new_features = ['city', 'review_scores_rating', 'review_scores_cleanliness', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'number_of_reviews', 'bed_type', 'host_response_rate']
#First i'll recreate the categorical and numerical features based on the subset that we are using

categorical = [cat for  cat in categorical if cat in new_features]
numerical = [num for  num in numerical if num in new_features]


df = df[new_features +['price']]

train = train[new_features +['price']]
test = test[new_features +['price']]

Question 6

First let's look at the data

In [9]:
train.head()

,city,review_scores_rating,review_scores_cleanliness,property_type,room_type,accommodates,bathrooms,bedrooms,number_of_reviews,bed_type,host_response_rate,price
4108,Amsterdam,97.0,10.0,Boat,Entire home/apt,4,1.0,2.0,61,Real Bed,100%,$259.00
2113,Amsterdam,100.0,10.0,House,Entire home/apt,5,2.5,3.0,2,Real Bed,100%,$275.00
8533,Amsterdam,85.0,9.0,Apartment,Entire home/apt,4,1.5,2.0,11,Real Bed,100%,$150.00
11234,Amsterdam,91.0,9.0,Apartment,Entire home/apt,4,1.5,1.0,23,Real Bed,0%,$210.00
18776,Amsterdam,90.0,7.0,Apartment,Entire home/apt,3,1.0,1.0,3,Real Bed,100%,$80.00

Let's look at the dimentions

In [10]:
train.shape

(15695, 12)

Let's look at the numerical information of the trainset features and target variable

In [11]:
train.describe()

,review_scores_rating,review_scores_cleanliness,accommodates,bathrooms,bedrooms,number_of_reviews
count,13738.000000,13732.000000,15695.000000,15688.000000,15687.000000,15695.000000
mean,94.945189,9.473347,2.884677,1.134944,1.446484,23.162408
std,6.700922,0.868670,1.318310,0.356243,0.894285,47.532541
min,20.000000,2.000000,1.000000,0.000000,0.000000,0.000000
25%,93.000000,9.000000,2.000000,1.000000,1.000000,3.000000
50%,97.000000,10.000000,2.000000,1.000000,1.000000,9.000000
75%,100.000000,10.000000,4.000000,1.000000,2.000000,23.000000
max,100.000000,10.000000,17.000000,8.000000,12.000000,733.000000

There's a problem with the type of data of target variable 'price'.  
Instead of float is string.

In [12]:
print(f"the type of data of the target variable is {type(train['price'][0])}")

the type of data of the target variable is <class 'str'>

In [13]:
def change_price(my_string):
    
    return float(my_string[1:].replace(',',''))

train['price'] = train['price'].apply(change_price)
test['price'] = test['price'].apply(change_price)

In [14]:
train.describe()

,review_scores_rating,review_scores_cleanliness,accommodates,bathrooms,bedrooms,number_of_reviews,price
count,13738.000000,13732.000000,15695.000000,15688.000000,15687.000000,15695.000000,15695.000000
mean,94.945189,9.473347,2.884677,1.134944,1.446484,23.162408,155.300287
std,6.700922,0.868670,1.318310,0.356243,0.894285,47.532541,142.763319
min,20.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,93.000000,9.000000,2.000000,1.000000,1.000000,3.000000,99.000000
50%,97.000000,10.000000,2.000000,1.000000,1.000000,9.000000,129.000000
75%,100.000000,10.000000,4.000000,1.000000,2.000000,23.000000,179.000000
max,100.000000,10.000000,17.000000,8.000000,12.000000,733.000000,8915.000000

Its weird that the minimum value of price is 0 (no free lunch).

Now let's see the type of data in every column

In [15]:
train[new_features].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15695 entries, 4108 to 15063
Data columns (total 11 columns):
city                         15692 non-null object
review_scores_rating         13738 non-null float64
review_scores_cleanliness    13732 non-null float64
property_type                15695 non-null object
room_type                    15695 non-null object
accommodates                 15695 non-null int64
bathrooms                    15688 non-null float64
bedrooms                     15687 non-null float64
number_of_reviews            15695 non-null int64
bed_type                     15695 non-null object
host_response_rate           9065 non-null object
dtypes: float64(4), int64(2), object(5)
memory usage: 2.1+ MB

We see that host_respose_rate has like 40% of null data.  
It could make sense to drop that feature.

Lets check the unique values in some features

In [16]:
for col in categorical:
    print(col,set(df[col]))
    print('\n')

room_type {'Entire home/apt', 'Shared room', 'Private room'}


city {nan, 'Amstelveen', 'Amsterdam Zuid-Oost', 'De Pijp', 'Weesp', 'Nederland', 'AMSTERDAM', 'Zeeburg', 'Jordaan, Amsterdam', 'Haarlem', 'Badhoevedorp', 'Jordaan', 'Amsterdam Zuidoost', 'Amsterdam ', 'Amsterdam, Noord-Holland, NL', 'Oostzaan', 'amsterdam', 'Watergraafsmeer', 'Amsterdão', 'Halfweg', '1015 SN Amsterdam', '阿姆斯特丹', 'Diemen', 'Amsterdam-Zuidoost', 'Landsmeer', 'Lijnden', 'Duivendrecht', 'North Amsterdam', 'Ámsterdam', 'Amsterdam', 'Zuiderwoude', 'Amsterdam West', 'Zeeburgerkade', 'Amsterdam (Zunderdorp)', 'Central Amsterdam', 'Амстердам'}


property_type {'Apartment', 'Cabin', 'Guest suite', 'Villa', 'Tiny house', 'Camper/RV', 'Aparthotel', 'Chalet', 'Tent', 'Nature lodge', 'Townhouse', 'Casa particular (Cuba)', 'Island', 'Houseboat', 'Bed and breakfast', 'Loft', 'House', 'Other', 'Earth house', 'Hostel', 'Condominium', 'Campsite', 'Serviced apartment', 'Cottage', 'Boutique hotel', 'Guesthouse', 'Boat', 'Bungalow', 'Barn', 'Dome house', 'Hotel'}


bed_type {'Futon', 'Couch', 'Real Bed', 'Airbed', 'Pull-out Sofa'}

Now lets look at the distributions of each feature

Since there are categorical features with many different values we are first going to create a function  
in order to be able to print in a more clear way.

In [20]:
train['city'].nunique()

34

In [18]:
def plot_categorical_many_values(df,col, thresh):
    """
    receives a dataframe, a column and a threshold and plots the categorical feature col
    puting all of the values that their % of appereance is less than the threshold thresh into a variable 'other'
    """
    if df[col].nunique() > 10:
        df_aux = pd.DataFrame({'value':df[col].value_counts().values, 'index':df[col].value_counts().index})
        df_aux['percentage'] = df_aux.value.apply(lambda x: x/df.shape[0])


        valid_values=[]
        for index, row in df_aux.iterrows():
            if row['percentage'] > thresh:
                valid_values.append(row['index'])
        df_aux2 = df.copy()
        df_aux2[col] = df_aux2[col].apply(lambda x: x if x in valid_values else 'other')

        ax = sns.countplot(x = col, data=df_aux2[df_aux2[col].notna()])
        
    else:
    sns.countplot(x = col, data=df_aux2[df_aux2[col].notna()])   
    plt.title(f'Distribution of {col}')
    plt.legend()
    plt.show()

In [ ]:


for col in categorical:
    #ax = sns.countplot(x = col, data=train[train[col].notna()])
    #plt.title(f'Distribution of {col}')
    #plt.legend()
    #plt.show()
    plot_categorical_many_values(train,col,0.05)
    
    
for col in numerical:
    plt.hist(col,data=train[train[col].notna()])
    plt.title(f'Distribution of {col}')
    plt.legend()
    plt.show()

Now lets look at the relationship between the variables  
First we'll look at the numerical variables

In [ ]:
ax = sns.heatmap(train.corr(), annot=True, fmt=".2f",  square = True)

Relationship between all numerical variables including target

In [ ]:
sns.pairplot(train[['review_scores_rating','review_scores_cleanliness', 'accommodates','bathrooms'\
                 ,'number_of_reviews','bedrooms','price']].dropna(), height=2.5);

QUESTION 7

host_response_rate had 2 many null values, so its not useful.  
we'll drop it  
  
  
city, bed_type,bathrooms, number_of_reviews have only 1 value with a lot of data, and the rest barely appears on the dataset, so we'll drop those also  

review_score_cleanness will be removed since it has a very high correlation with review_scores_rating (makes sense that people wont give a good rating to something not clean)

In [ ]:
df.drop(columns = ['host_response_rate','city','bed_type','bathrooms','number_of_reviews','review_scores_cleanliness'],inplace=True)
train.drop(columns = ['host_response_rate','city','bed_type','bathrooms','number_of_reviews','review_scores_cleanliness'],inplace=True)
test.drop(columns = ['host_response_rate','city','bed_type','bathrooms','number_of_reviews','review_scores_cleanliness'],inplace=True)

In [ ]:
df.head()

## Part II:
   
**On your train set alone**
 
 1. Transform your categorical features - explain what your considerations were in ragards to which method you chose.
 2. What is the data shape after the transformation? 
 3. Look at the distribution of all the new features that were added / transformed by you - What can we say about it? Can you spot any redundant features (features with very low cardinality or super un-even distribution, long tail)? Show it.
 4. Take care of the redundant features you mentioned in previous question, and explain your steps.
 
**On your test set**
 5. Transform the categorical features in the test set, according to the train set. Make sure the test set now has no more and  no less features than the train set, and that they match in name.

Question 1  
Since room_type is a nominal categorical feature, since there's no especific order in hope or private room or shared room, i choose the one-hot-encoding method, since it's the most common to deal with this.

In [ ]:
train = pd.get_dummies(train,columns = ['room_type']).drop(columns =['room_type_Shared room'])
# didint do drop_first =True because it dropped the column with most "1"

In [ ]:
train = pd.get_dummies(train,columns = ['property_type'],drop_first=True)

In [ ]:
train

Question 2

In [ ]:
print(f'the shape is {train.shape}')

Question 3

DISPLAYING ALL THE DISTRIBUTIONS

In [ ]:
for col in (set(train.columns)-set(test.columns)):
    ax = sns.countplot(x = col, data=train[train[col].notna()])
    plt.show()

We create a function ir order to see it there are columns with a certain % of the column data as one value within  
binary columns, and according to that we define columns that are not useful to predict in order to drop them

In [ ]:
def get_redundant_binary_cols(data, threshold):
    '''
    This function gets a pandas DataFrame, and a threshold (% of data), 
    and returns the list of binary features from that dataframe that have 
    above threshold amount of samples with the same value, and thus
    should be considered redundant. 
    '''
    
    bool_cols = [col for col in data.columns \
                 if pd.Series(list(set(data[data[col].notnull()][col]))).isin([0, 1]).all()]
    print(bool_cols)
    
    return [x for x in bool_cols if data[x].value_counts()[0] \
                                                > threshold * len(data)] + \
                    [x for x in bool_cols if data[x].value_counts()[1] \
                                                > threshold * len(data)]

These columns are not good for our model so we'll drop them

In [ ]:
redundant_columns = get_redundant_binary_cols(train,0.8);

for col in redundant_columns:
    train.drop(columns=[col],inplace=True)

In [ ]:
train.shape

In [ ]:
train.columns

Question 5

In [ ]:
test.shape

In [ ]:
test = pd.get_dummies(test,columns = ['room_type']).drop(columns =['room_type_Shared room'])
test = pd.get_dummies(test,columns = ['property_type'],drop_first=True)

In [ ]:
test

In [ ]:
to_drop = []
for col in test.columns:
    #print(col)
    if 'property' in col:
    
        if (('Apartment' not in col) and ('House' not in col)):
            to_drop.append(col)
        elif ('boat'  in col):
            to_drop.append(col)
print(to_drop)       
        
for col in to_drop:
    test = test.drop(columns=[col])

In [ ]:
assert set(test.columns) - set(train.columns) == set()

## Part III:

**On your train set alone**

 1. Transform your numerical features according to the 3 methods: normalization, binning and transformations (choose different features for each method)
 2. Explain the logic behind your choice
 3. Plot the new distributions to check that your transformation worked
 
**On your test set**
 4. Transform the numerical features in the test set, according to the train set.

In [ ]:
# your code here
train

Question 1

In [ ]:
for col in train.columns:
    if col !='price':
        ax = sns.countplot(x = col, data=train[train[col].notna()])
        plt.show()

First of all we'll do binning
We'll do this with feature review_scores_rating  
First of all i have to deal with the nans it has

In [ ]:
train['review_scores_rating'] = train['review_scores_rating'].fillna(train['review_scores_rating'].mean())

In [ ]:
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=10, encode='ordinal', strategy='quantile')

est.fit(train[['review_scores_rating']])

pd.DataFrame(est.transform(train[['review_scores_rating']])).plot(kind = 'hist',bins=10,\
                                                            edgecolor = 'black');
plt.title('Dividion to bins of the same size')
plt.xlabel('review scores rating')
plt.show()

train['review_scores_rating'] =est.transform(train[['review_scores_rating']])

Now we'll use the method of transformation. We'll do it for the feature bedrooms that has a skewed distribution  
First of all i'll have to fill nans

In [ ]:
train['bedrooms'] = train['bedrooms'].fillna(train['bedrooms'].median())

In [ ]:
set(train['bedrooms'])

In [ ]:
from sklearn.preprocessing import FunctionTransformer
transformer = FunctionTransformer(np.log1p, validate=True)
train['bedrooms'] = transformer.transform(train[['bedrooms']])
train

Now we'll use normalization for all

In [ ]:
X_train = train.loc[:, train.columns != 'price']
y_train = train['price']

X_test = test.loc[:, test.columns != 'price']
y_test = test['price']

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler

scaler = StandardScaler()
scaler.fit(X_train._get_numeric_data())
X_train2 = scaler.transform(X_train._get_numeric_data())


X_train = pd.DataFrame(data=X_train2, columns=X_train._get_numeric_data().columns)

In [ ]:
X_train

Now we'll plot the different features

In [ ]:
for col in X_train.columns:
    plt.hist(col,data=X_train[X_train[col].notna()])
    plt.show()

Question 4  

First of all i have to fill nan

In [ ]:
X_test['review_scores_rating'] = X_test['review_scores_rating'].fillna(X_train['review_scores_rating'].mean())
X_test['bedrooms'] = X_test['bedrooms'].fillna(X_train['bedrooms'].median())

Now we'll use the previous transformations to change this data

In [ ]:
#using the fit transformation from review_scores_rating
X_test['review_scores_rating'] =est.transform(X_test[['review_scores_rating']])

In [ ]:
X_test['bedrooms'] = transformer.transform(X_test[['bedrooms']])

In [ ]:
X_test2 = scaler.transform(X_test._get_numeric_data())


X_test = pd.DataFrame(data=X_test2, columns=X_test._get_numeric_data().columns)

And now we have the test transformed according to what we did with the training set

In [ ]:
X_test

<div class="alert alert-info"><b>NOTE:</b> You need to generate a report - write the logic behind every step you take, give your conclusions in a paragraph, and make everything very readable.</div>